commands:
  command block:
    command: |
      mount -o remount,size=2G /tmp
      export TMPDIR=/var/tmp
      echo "Command executed successfully" >> /var/log/custom_commands.log
container_commands:
  01cleanuptmp:
    command: rm -rf /tmp/*
    echo "container_commands executed successfully" >> /var/log/custom_commands.log