option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application
  "aws:elasticbeanstalk:application:environment":
    TMPDIR: /var/tmp
container_commands:
  00bootup:
    command: echo export TMPDIR=/var/tmp >> /etc/profile.d/custom_tmpdir.sh
  01bootup:
    command: mount -o remount,size=1G /tmp
  01_cleanup_tmp:
    command: rm -rf /tmp/*



