option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
    
commands:
  01_resize_tmp:
    command: mount -o remount,size=1G /tmp

container_commands:
  01_cleanup_tmp:
    command: rm -rf /tmp/*
  02_set_tmpdir:
    command: echo "export TMPDIR=/var/tmp" >> /etc/profile.d/custom_tmpdir.sh
  03_set_tmpdir_env:
    command: export TMPDIR=/var/tmp